.ratingsList {
  background-color: rgb(167, 210, 245);
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  border: 2px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-size: 1rem;
}
