.form,
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form h1 {
  text-transform: uppercase;
}

.singleInput {
  font-size: 1.2rem;
}
.singleInput label {
  text-transform: capitalize;
}
.singleInput input,
.actions input {
  font-size: 1.2rem;
  height: 45px;
  width: 200px;
  padding: 5px;
  border-radius: 20px;
}
.singleInput input {
  background-color: azure;
}
.actions input {
  background-color: rgb(167, 210, 245);
}
